{% extends "@Back/back-base.html.twig" %}

{% block  content  %}
<div class="container">
    <div class="section">

      <div class="row page-title">
        <h2>Gestion employés</h2>
        <hr class='white' style="margin-bottom:1rem"/>
      </div>
      <div class="row">
        <div class=" col offset-m1 m10 s12 center-align">
          <div class="">
            <a class="btn-floatings btn-large waves-effect waves-light modal-trigger red right" href="#modal1"><i class="material-icons">add</i></a>
          </div>
          <div id="employees" class="" style="padding-top:70px;"></div>
          <div id="externalLink"></div>

                 <!-- Modal Structure -->
         <div id="modal1" class="modal">
           <div id="ajax-container" class="modal-content">
             <div class="row">
               <h3>Ajouter un employé</h4>

               <div class="col offset-m2 offset-l2 offset-s2  l9 m9 s9 ">

                 {{ form_start(form) }}
                 <div class="input-field col s12 m9">
                    {{ form_row(form.Enabled) }}
                  </div>
                  <div class="input-field col s12 m10">
                    {{ form_row(form.Email,  {'attr': {'class': 'input-field'}}) }}
                  </div>
                  <div class="input-field col s12 m10">
                    {{ form_row(form.Username,  {'attr': {'class': 'input-field'}}) }}
                  </div>
                   <div class="input-field col s12 m10">
                     {{ form_row(form.plainPassword.first, {'attr': {'class': 'input-field'}}) }}
                   </div>
                  <div class="input-field col s12 m10">
                     {{ form_row(form.plainPassword.second, {'attr': {'class': 'input-field'}}) }}
                  </div>
               </div>
             </div>
           </div>
             <div class="modal-footer">
                <button type="submit" class="btn" style="width:100%" value="Créer un utilisateur">Créer un utilisateur</button>
             </div>
           {{ form_end(form) }}
         </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block pagejs %}
  <script type="text/javascript">

  console.log('test');
  function displayEmployee() {
    $.get(Routing.generate('api_apiemployee_getemployees'))
    .done(function(employees) {
      showEmployee(employees);
    });
  }

  function showEmployee(employees){
    var container = $('#employees');

    div = document.createElement('hr');

    table = document.createElement('table');
    table.className = 'responsive-table';
    thead = document.createElement('thead');
    table.append(thead);

    tr = document.createElement('tr');

    th1 = document.createElement('th');
    th1Texte = document.createTextNode('Nom');
    th1.append(th1Texte);

    th2 = document.createElement('th');
    th2Texte = document.createTextNode('Client Lié');
    th2.append(th2Texte);

    th3 = document.createElement('th');
    th3Texte = document.createTextNode('Action');
    th3.append(th3Texte);

    tr.append(th1, th2, th3);

    thead.append(tr);
    tbody = document.createElement('tbody');
    table.append(tbody);
    $.each(employees, function(i, item) {

      trUsername = document.createElement('tr');
      tdUsername = document.createElement('td');
      tdClient = document.createElement('td');
      tdAction = document.createElement('td');

      tdTexteUsername = document.createTextNode(item.username);
      tdUsername.append(tdTexteUsername);
      tdTexteClient = document.createTextNode(item.username);
      tdClient.append(tdTexteClient);
      tdTexteAction = document.createTextNode(item.username);
      tdAction.append(tdTexteAction);

      //action client + nom
      trUsername.append(tdUsername,tdClient,tdAction);


      tbody.append(trUsername);

    });
      container.append(table);
  }

  $( document ).ready(function() {
    displayEmployee();

  });
//
// $(document).ready(function() {
//   $('#modal1').on('submit', '#ajax-form', function() {
//     console.log('click');
//     data = {};
//     var $this = $(this);
//     $.ajax({
//       url : $this.attr('action'),
//       type : $this.attr('method'),
//       data : new FormData($this[0]),
//       processData: false,
//       contentType: false
//     })
//     .done(function(response) {
//       // console.log(response);
//       displayToast(response, 'success');
//       // $("#modal1").modal('close');
//     })
//     .fail(function(response) {
//       displayToast(response, 'error');
//     })
//   });
// });
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '20%', // Ending top style attribute
    });
  </script>
{% endblock %}
