{% set route = app.request.get('_route') %}

{% extends "@Front/front-base.html.twig" %}

  {% block pagestyle %}
      <link rel="stylesheet" href="{{ asset('assets/css/front/profile.css') }}"/>
  {% endblock %}

{% block content %}
    <div class="container">
        <div class="section">
          <div class="row page-title">
            <h2 style="">Gestion du compte</h2>
            <hr class='white' style="margin-bottom:1rem"/>
          </div>
          <div class="row">
           <div class="col m12 s12 ">

             <div class="col m6 s6 ">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="card">
                    <div class="card-content black-text">
                      <span class="card-title black-text">Modifier votre mot de passe</span>
                      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                          {{ form_widget(form) }}
                          <div>
                            <div class="col s12">
                              <button class="btn waves-effect waves-light col s12 " type="submit" name="action">
                                <input type="submit" value="Modifier le mot de passe" />
                              </button>
                            </div>
                          </div>
                      {{ form_end(form) }}
                      <div class="card-action">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="col m6 s6 center-align">
                <ul class="collapsible" data-collapsible="expandable">
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons ">person</i>
                      Compte
                      <i class="material-icons">arrow_drop_down</i>
                    </div>
                    <div class="collapsible-body">
                      <p> Nom : {{ app.user.username }}</p>
                       <p> Email : {{ app.user.email }}</p>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons ">vpn_key</i>Modifiez votre mot de passe   <i class="material-icons ">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                      <div class="row">

                       </div>

                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons ">whatshot</i>Third<i class="material-icons  ">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                      <span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
$(document).ready(function(){
    $( ".collapsible-header" ).click(function() {
        var divCollaspse = $(this).hasClass('active');

        if(divCollaspse)
            $(this).children().next().css('transform', "rotate(360deg)");
        else
            $(this).children().next().css('transform', "rotate(180deg)");
    });
});
</script>
{% endblock %}
