{% set current = app.request.attributes.get('_route') %}

<a href="#" id="menu-slide-out-btn" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
<ul style="height: 100%" id="slide-out" class="side-nav fixed">

  <div id="navbar-header">
    
    <div id="oecko-clock" class="hide-on-small-only"></div>
  </div>
  <div id="navbar-scroll-container">

    {% if app.user %}

      {% if app.user.hasGroup('GROUP_LANDLORD') or app.user.hasGroup('GROUP_CONCIERGE') or app.user.hasGroup('GROUP_SUPERLANDLORD') %}
        {% set hasPrivateMessage = app.user.organization.hasPrivateMessage %}
        {% set hasIncident = false %}
        {% set hasSocialAd = false %}
      {% elseif  app.user.hasGroup('GROUP_RESIDENT') %}
        {% set hasPrivateMessage = app.user.apartment.entrance.residence.hasPrivateMessage %}
        {% set hasIncident = app.user.apartment.entrance.residence.hasIncident %}
        {% set hasSocialAd = app.user.apartment.entrance.residence.hasSocialAd %}
      {% elseif  app.user.hasGroup('GROUP_ADMIN') %}
        {% set hasPrivateMessage = false %}
        {% set hasIncident = false %}
        {% set hasSocialAd = false %}
      {% endif %}

      {% if (is_granted('ROLE_READ_MESSAGE')) and hasPrivateMessage %}
        <li>
          {% if app.user.getUnreadMessageNumber() > 0  and app.user.getUnreadMessageNumber()<100 %}
            <div class='pastille'>{{ app.user.getUnreadMessageNumber() }}</div>
          {% elseif app.user.getUnreadMessageNumber()>=100 %}
            <div class='pastille'>99+</div>
          {% endif %}
          <a class="waves-effect waves-light tooltipped {{ current == 'front_messages_index' ? "active" }}"
             href="{{ path('front_messages_index') }}" data-position="right" data-delay="50" data-tooltip="Messages">
            <i class="fa fa-envelope"></i>
          </a>

        </li>
      {% endif %}

      {% if (is_granted('ROLE_PUBLICMESSAGE')) %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'front_publications_index' ? "active" }}"
             href="{{ path('front_publications_index') }}" data-position="right" data-delay="50"
             data-tooltip="Gérer les publications">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </li>
      {% endif %}

      {% if (is_granted('ROLE_MODERATOR')) %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'front_moderation' ? "active" }}"
             href="{{ path('front_moderation') }}" data-position="right" data-delay="50"
             data-tooltip="Espace de modération">
            <i class="fa fa-eye-slash"></i>
          </a>
        </li>
      {% endif %}

      {% if is_granted('ROLE_MANAGE_LANDLORD') %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'back_manage_accounts' ? "active" }}"
             href="{{ path('back_manage_accounts') }}" data-position="right" data-delay="50"
             data-tooltip="Gestion des comptes">
            <i class="fa fa-users"></i>
          </a>
        </li>
      {% endif %}
      {% if is_granted('ROLE_EDIT_RESIDENCE') %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'back_manage_properties' ? "active" }}"
             href="{{ path('back_manage_properties') }}" data-position="right" data-delay="50"
             data-tooltip="Gestion des résidences">
            <i class="fa fa-building-o"></i>
          </a>
        </li>
      {% endif %}


      {% if is_granted('ROLE_MANAGE_THINCLIENT') %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'back_manage_thinclients' ? "active" }}"
             href="{{ path('back_manage_thinclients') }}" data-position="right" data-delay="50"
             data-tooltip="Gestion des écrans">
            <i class="fa fa-tablet"></i>
          </a>
        </li>
      {% endif %}

      {% if is_granted('ROLE_REPORT_INCIDENT') and hasIncident %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'front_report_incident' ? "active" }}"
             href="{{ path('front_report_incident') }}" data-position="right" data-delay="50"
             data-tooltip="Déclarer un incident">
            <i class="fa fa-bullhorn"></i>
          </a>
        </li>
      {% endif %}

      {% if is_granted('ROLE_SOCIALAD') and hasSocialAd %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'front_social_ads' ? "active" }}"
             href="{{ path('front_social_ads') }}" data-position="right" data-delay="50" data-tooltip="Lien social">
            <i class="fa fa-group"></i>
          </a>
        </li>
      {% endif %}

      {% if (is_granted('ROLE_ADD_ADMIN')) %}
        <li>
          <a class="waves-effect waves-light tooltipped {{ current == 'back_app_settings' ? "active" }}"
             href="{{ path('back_app_settings') }}" data-position="right" data-delay="50"
             data-tooltip="Paramètres généraux">
            <i class="fa fa-cogs"></i>
          </a>
        </li>
      {% endif %}

      {# User not logged #}
      <li>
        <a class="waves-effect waves-light tooltipped"
           href="{{ path('fos_user_security_logout') }}" data-position="right" data-delay="50"
           data-tooltip="Se déconnecter">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>

    {% else %}

      <li>
        <a class="waves-effect waves-light tooltipped {{ current == 'fos_user_security_login' ? "active" }}"
           href="{{ path('fos_user_security_login') }}" data-position="right" data-delay="50"
           data-tooltip="S'identifier">
          <i class="fa fa-lock"></i>
        </a>
      </li>

      <li>
        <a class="waves-effect waves-light tooltipped {{ current == '#' ? "active" }}"
           href="https://oecko.com" data-position="right" data-delay="50" data-tooltip="Découvrez l'application OECKO">
          <i class="fa fa-info-circle"></i>
        </a>
      </li>

    {% endif %}

    <div class="clearer"></div>
  </div>
</ul>
