{% extends "FrontBundle::front-base.html.twig" %}

{% block body %}

<div class="container">
    <div class="section">
      <div class="row page-title">
        <h2>Bonjour {{ app.user.usedName }}</h2>
        <hr class='white' style="margin-bottom:1rem"/>
      </div>
      <div class="row">
        <div class="col offset-m1 m10 s12 center-align">
          {% if (is_granted('ROLE_EDIT_RESIDENCE')) %}
            <a title="Gestion des propriétés" class="btn-floating white hoverable huge-floating-button btn-with-text"
               href="{{ path('back_manage_properties') }}">
              <i class="fa fa-building-o" aria-hidden="true"></i>
              <span>Propriétés</span>
            </a>
          {% endif %}
          {% if (is_granted('ROLE_MANAGE_LANDLORD')) %}
            <a title="Gestion des comptes employés"
               class="btn-floating white hoverable huge-floating-button btn-with-text"
               href="{{ path('back_manage_accounts') }}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>Utilisateurs</span>
            </a>
          {% endif %}
          {% if (is_granted('ROLE_SEND_MESSAGE')) %}
            <a title="Messagerie" class="btn-floating white hoverable huge-floating-button btn-with-text"
               href="{{ path('front_messages_index') }}">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>Messagerie</span>
            </a>
          {% endif %}

          {% if (is_granted('ROLE_PUBLICMESSAGE')) %}
            <a title="Gestion des publications" class="btn-floating white hoverable huge-floating-button btn-with-text"
               href="{{ path('front_publications_index') }}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <span>Publications</span>
            </a>
          {% endif %}
          {% if (is_granted('ROLE_MODERATOR')) %}
            <a title="Modération des publications"
               class="btn-floating white hoverable huge-floating-button btn-with-text"
               href="{{ path('front_moderation') }}">
              <span>Modération</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



{% endblock %}
