{% extends "base.html.twig" %}

{% block stylesheets %}

        {% block pagestyle %}{% endblock %}
{% endblock %}


{% block bundlejs %}
  {% block scripts %}{% endblock %}
  <script src="{{ asset('bundles/front/js/front.js') }}"></script>
{% endblock %}

{% block body %}
    <main class="row">
      <div class="navbar col s2">
          <ul id="slide-out" class="side-nav fixed hoverable">
            <li class="logo"><a id="logo-container" href="{{ path('front_homepage') }}"  class="brand-logo"><img src="{{ asset('logo-menu.png') }}"/></a></li>
            {% if app.user is not null %}
                <li>
                    <a  href="{{ path('front_profile') }}"  title="Gestion du compte" class="icons-menu ">
                        <i class="{{ route ==  'front_profile' ? "active" }} material-icons">account_circle</i>
                    </a>
                </li>
                <li>
                    <a  href="{{ path('front_prestation') }}" title="Vos prestations" class="icons-menu">
                        <i class="{{ route ==  'front_prestation' ? "active" }} material-icons">mode_edit</i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('front_appointment') }}" title="Gestion rendez-vous" class="icons-menu ">
                        <i class="{{ route ==  'front_appointment' ? "active" }} material-icons">perm_contact_calendar</i>
                    </a>
                </li>
                <li>
                    <a href=""  title="Gestion messagerie" class="icons-menu">
                        <i class="{{ route ==  '' ? "active" }} material-icons">message</i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion" class="icons-menu ">
                        <i class="material-icons">lock_open</i>
                    </a>
                </li>

            {% else %}
                <li>
                    <a href="" title="Connexion"  class="icons-menu">
                        <i class="material-icons left">lock</i> Connexion
                    </a>
                </li>
                <li>
                    <a href="" title="Inscription" class="icons-menu">
                        <i class="material-icons left">account_circle</i>Inscription
                    </a>
                </li>
            {% endif %}

          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
      <div class="col s10">
        {% block content %}{% endblock %}
      </div>
    </main>
{% endblock %}

{% block javascripts %}

  <script type="text/javascript">



  </script>

{% block pagejs %}{% endblock %}
{% endblock %}
